<h2>Buscador</h2>
<form>
  <mat-form-field>
    <input matInput type="search" name="query" [(ngModel)]="query" (keyup.enter)="buscar()">
  </mat-form-field>
  <button mat-mini-fab color="primary" (click)="buscar()"><mat-icon>search</mat-icon></button>
</form>
<mat-list *ngIf="searchResults">
  <mat-list-item *ngFor="let person of searchResults; let i=index">
    <div class="mat-list-item-text">
      <div mat-line><a [routerLink]="['/editar', person.id]">{{person.name}}</a></div>
      <div mat-line>{{person.phone}}</div>
      <div mat-line>
        {{person.address.street}}<br/>
        {{person.address.city}}, {{person.address.state}} {{person.address.zip}}
      </div>
    </div>
  </mat-list-item>
</mat-list>
